body {
	background: #e2d6cb;
	color: #2B1F17;
	font-family: sans-serif;
	font-size: 14px;
}

#content {
    /*padding-top: 40px;*/
    margin: 0 auto;
    text-align: center;
}
#viewport {
    width: 900px;
    height: 675px;
}
.canvas-container { margin: 0 auto; }

h1, h2, h3, #message {
	font-family: 'Arbutus', sans-serif;
}

#message {
	font-size: 30px;
	position: relative;
	top: -50px;
	color: #2B1F17;
}

#menu a {
	font-size: 30px;
	color: #2B1F17;
	text-decoration: none;
	font-family: 'Arbutus', sans-serif;
	text-transform: uppercase;
}

#menu {
	position: relative;
	top: -280px;
}

#instructions, #menu {
	display: none;
}

#instructions {
	line-height: 1;
	font-family: 'Arbutus', sans-serif;
	text-transform: uppercase;
	color: #FC9F7C;
	display: none;
	position: relative;
	top: -175px;
}