body {
	background: #e2d6cb;
	color: #2B1F17;
	font-family: sans-serif;
	font-size: 14px;
}

#content {
    /*padding-top: 40px;*/
    margin: 0 auto;
    text-align: center;
}
#viewport {
    /*width: 900px;
    height: 675px;*/
	width: 100%;
	height: auto;
}
.canvas-container { margin: 0 auto; }

h1, h2, h3, #message {
	font-family: 'Arbutus', sans-serif;
}

#gameArea {
	position: relative;
}

#message {
	font-size: 30px;
	position: absolute;
	bottom: 10%;
	/*width: 100%;*/
	text-align: center;
	color: #2B1F17;
    padding-left: 25%;
}

#menu a {
	font-size: 30px;
	color: #2B1F17;
	text-decoration: none;
	font-family: 'Arbutus', sans-serif;
	text-transform: uppercase;
}

#menu {
	position: absolute;
	bottom: 30%;
	width: 100%;
	text-align: center;
}

#instructions, #menu {
	display: none;
}

#instructions {
	line-height: 1;
	font-family: 'Arbutus', sans-serif;
	text-transform: uppercase;
	color: #FC9F7C;
	display: none;
	position: absolute;
	bottom: 8%;
	text-align: center;
	width: 100%;
}

input#name {
	width: 200px;
}